DATABASE_URL = 'YOUR LOCAL PSQL DATABASE URL'
SALT_ROUNDS = 14
JWT_SECRET = 'THIS SHOULD BE YOUR VERY LONG SECRET'
JWT_EXPIRE_TIME = 36000
MAIL_HOST = 'YOUR MAIL HOST'
MAIL_PORT = 'YOUR MAIL PORT'
MAIL_USERNAME = 'EMAIL YOU WANT TO USE TO SEND TO CLIENTS'
MAIL_PASSWORD = 'PASSWORD FOR YOUR EMAIL'